.title{
	  
}

.sec_tit{

}
.tit_txt{
	font-family: 'Inter';
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	width: 240px;
	
}

.sec_desc{
width: 537px;
height: 64px;
margin:32px 400px 40px;
text-align: center;
color:  #2C2F24;
font-family: DM Sans;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.input{
width: 250px;
height: 45px;
border-radius: 10px ;
border: 1px solid #F3F3F3;

box-shadow: 0px 10px 20px 0px #0000000A;

}
