  


.sec_tit{

}
.tit_txt{
	font-family: 'Inter';
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	width: 240px;
	color: #000;
	
}


.input{
width: 250px;
height: 45px;
border-radius: 10px ;
border: 1px solid #F3F3F3;
box-shadow: 0px 10px 20px 0px #0000000A;
position: absolute;
color: #C4C4C4;
text-align: center;


}


.ic_search{
	background: url(../../img/icons/lupu.png) no-repeat center;
	position: relative;
	display: block;
	width: 30px;
	justify-content: space-between;
	margin-left: 20px;

}

.search{
	margin-left: 350px;
}

.card{
	width: 210px;
	height: 260px;
	border-radius: 40px;
	border: 1px solid #F8F8F8;
	box-shadow: 0px 14px 30px 0px #0000000D;
    

}


.heart{
	background: url(../../img/icons/ic_heart.svg) no-repeat center;
	display: block;
	width: 14px;
	height: 13px;
	position: relative;
   text-align: center;
   margin: 0 auto;
   margin-top: 10px;

}
.bord{
	background: url(../../img/icons/bord.svg) no-repeat center;
	width: 32px;
	height: 32px;
	border-radius: 7px;
	display: block;
	background-size: cover;
	border: 1px solid #F8F8F8;
	position: absolute;
	margin-top: -140px;
	margin-left: 20px;


}

.cards{
	margin-top: 100px;
}

.tit_desc{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 17px;
text-align: left;
width: 150px;
margin: 0 auto;
color: #000;

}

.price_txt{
font-family: Inter;
font-size: 11px;
font-weight: 500;
line-height: 13px;
color: #BDBDBD;
margin: 0 auto;
margin-top: 10px;
margin-left: 10px;

}