.link{
	transition: 0.3s;
}
.link:hover{
	color: #AD343E;
}
.flex{
	display: flex;
	

} 



.menu li:hover{
    border-radius: 34px;
    background: #DBDFD0;
	transition: 0.2s;
}
.container{
	width: 975px;
	height: 41px;
	
}
.Head{
	align-items: center;
}
.Header{
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    background:#fff;
    display: flex;
	/* padding: 10px 0;
	z-index: 100000;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 4); */
	margin-top: 100px;
}

.srtip{
     border: 1px solid #EAEAEA;
	 height: 0 ;
  margin-top: 200px;

}
