.link{
	transition: 0.3s;
}
.link:hover{
	color: #AD343E;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex li {
	padding-right: 40px;
}
.head_in{
	margin-top: 35px;
}
 .menu{
	margin:auto ; 
	cursor: pointer;
}
.menu li:hover{
    border-radius: 34px;
    background: #DBDFD0;
	transition: 0.2s;
}

